:root {
    --orange: rgb(236, 177, 67);
    --lightblue: rgb(162, 179, 216);
    --blue: rgb(62, 108, 145);
    --darkerblue: rgb(51, 69, 92);
    --darkestblue: rgb(15, 31, 59);
}

/* general background color settings */
* {
  background-color: var(--lightblue);  
}

/* basic body settings */
body {
    padding: 0;
    margin: 0;
}

/* navbar class color changes from styled default */
.navbar {
    background-color: var(--darkestblue);
    color: var(--lightblue);
}

.navbar-brand {
    background-color: var(--darkestblue);
}

/* countdown font color settings */
#countdown {
    background-color: var(--darkestblue);
}

/* quiz container settings */
.quiz-container {
    padding: 20px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-color: var(--lightblue);
    color: var(--darkestblue);
}

/* quiz answer button settings */
.btn-primary {
    background-color: var(--darkestblue);
    color: var(--lightblue);
}

.btn-primary:hover {
    background-color: var(--darkerblue);
}

/* start button settings */
.start-btn-container {
    padding: 25px;
}

.start-button {
    color: var(--lightblue);
    background-color: var(--darkerblue);
}

.btn-secondary {
    background-color: var(--darkerblue);
}

.btn-secondary:hover {
    background-color: var(--darkerblue);
}

.start-button:hover {
    background-color: var(--darkerblue);
    color: white;
}
